

#agenda {
    height: 100%;
}

@media (orientation: landscape){
    #agenda {
        max-width: 60%;
        margin: 0 auto;
    }
}
@media (orientation: portrait){
    #agenda {
        width: 100%;
    }
}

.listEntry{
    vertical-align: middle;
}
.listEntryImg{
    height: 100%;
    max-width: 70px;
}