
#mapCanvas {
    height: 100%;
    width: 100%;
}

.mapPanelImg{
    max-width: 150px;
    max-height: 150px;
}

#poiPanelContents{
    margin-left: 20px;
}

#poiCategoryFilterDropdown{
    position: absolute;
    top: 0;
    right: 0;
    margin: -5px 5px 0 0;
    padding: 0
}